	<!-- Preloader Start -->
<div class="preloader">
  <div class="loader">
  </div>
</div>
<!-- Preloader End -->
<!-- Header Start -->
<header class="header">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="brand-name">
        <a href="index.html">Khan</a>
      </div>
      <div class="nav-toggle">
        <span></span>
      </div>
      <nav class="nav">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#podiatry">Podiatry</a></li>
          <!-- <li><a href="#services">Services</a></li> -->
          <!-- <li><a href="#works">Works</a></li> -->
          <li><a href="#works">Services</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- Header End -->
<!-- Home Section Start -->
<section class="home-section" id="home">
  <!-- shape section -->
  <!-- <div class="shape-01">
  </div> -->
  <div class="container">
    <div class="row align-items-center">
      <div class="home-content">
        <h4>Point Chevalier Podiatry</h4>
        <h3>Sport & Exercise Podiatry</h3>
        <!-- <h1>Photographer</h1> -->
      </div>
    </div>
  </div>
  <!-- scroll down -->
  <a href="#about" class="scroll-down">
    
    <img src="../../assets/Images/icons/arrow-down.svg" alt="scroll Down">
  </a>
</section>
<!-- Home Section End -->
<!-- About Section Start-->
<section class="about-section" id="about">
  <div class="container">
    <div class="row">
      <div class="about-img">
        <div class="img-box">
          <!-- <div class="shape-02"></div> -->
          <img src="../../assets/Images/about.jpg" alt="about me">
        </div>
      </div>
      <div class="about-content">
        <div class="row">
          <div class=" section-title">
            <h1>About</h1>
          </div>
        </div>
        <p>
          <!-- <h3>Khan Puri</h3>			 -->
        <p>
          <b>Khan Puri</b> graduated from AUT with a <b>Bachelor of Health Science in Podiatry</b>. Prior to undertaking his career in Podiatry,
          he completed his <b>Certificate in Fitness Instruction from AUT</b>.
        </p>
        <p>
          He enjoys all aspects of podiatry work but has a special interest in treating and managing diabetic foot disease.
          He was awarded the <b>AUT Joe Spring award in 2016 for orthotic therapy</b>. Khan also has a keen interest in
          musculoskeletal disorders and sports injuries augmented by his background as a fitness instructor and has a certificate
          in Sports Massage.
        </p>
        <p>
          He is also committed to further education and an evidence-based patient care approach for optimal outcomes.
          Outside work, Khan loves to go to the gym and keeps updated with the latest research trends in foot & ankle disorders
          and takes every opportunity to attend seminars and conferences to expand his knowledge base.
        </p>
        <p>Languages spoken: English, Hindi and Punjabi</p>
       
        <a href="#works" class="btn btn-01">My Services</a>
        <a href="#contact" class="btn btn-01">Book an Appointment</a>
      </div>
    </div>
  </div>
</section>

<!-- Podiatry Section Start-->
<section class="podiatry-section" id="podiatry">
  <div class="container">
    <div class="row">
      <div class="podiatry-content">
        <div class="row">
          <div class=" section-title">
            <h1>What is Podiatry?</h1>
          </div>
        </div>
        <p>
          Podiatry is the field of medicine which deals with the diagnosis & treatment of feet, ankle or lower leg.
          The Podiatrist's scope of practice includes areas such as paediatrics, diabetes, sports injuries, structural problems,
          treatment of the elderly as well as general foot care.
        <p>
          Common conditions a podiatrist would treat include bone joint disorders, muscular, calluses, corns,skin & nail
          disorders and sporting injuries.
        </p>
      </div>

      <div class="podiatry-img">
        <div class="img-box">
          <!-- <div class="shape-02"></div> -->
          <!-- <img src="img/about.jpg" alt="about me"> -->
          <img src="../../assets/Images/podiatry.jpg" alt="podiatry">

        </div>
      </div>
    </div>
  </div>
</section>
<!-- Work Section Start -->
<section class="work-section" id="works">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h1>Services</h1>
      </div>
    </div>
    <div class="row">
      <!-- Work Item Start -->
      <div class="work-item">
        <div class="work-item-inner">
          <img src="../../assets/Images/works/thumb/1.jpg" data-large="../../assets/Images/works/large/1.jpg" alt="work">
          <div class="overlay">
            <h4>Wedding Photography</h4>
          </div>
        </div>
      </div>
      <!-- Work Item End -->
      <!-- Work Item Start -->
      <div class="work-item">
        <div class="work-item-inner">
          <img src="../../assets/Images/works/thumb/2.jpg" data-large="../../assets/Images/works/large/2.jpg" alt="work">
          <div class="overlay">
            <h4>Travel Photography</h4>
          </div>
        </div>
      </div>
      <!-- Work Item End -->
      <!-- Work Item Start -->
      <div class="work-item">
        <div class="work-item-inner">
          <img src="../../assets/Images/works/thumb/3.jpg" data-large="../../assets/Images/works/large/3.jpg" alt="work">
          <div class="overlay">
            <h4>Travel Photography</h4>
          </div>
        </div>
      </div>
      <!-- Work Item End -->
      <!-- Work Item Start -->
      <div class="work-item">
        <div class="work-item-inner">
          <img src="../../assets/Images/works/thumb/4.jpg" data-large="../../assets/Images/works/large/4.jpg" alt="work">
          <div class="overlay">
            <h4>Portrait Photography</h4>
          </div>
        </div>
      </div>
      <!-- Work Item End -->
      <!-- Work Item Start -->
      <div class="work-item">
        <div class="work-item-inner">
          <img src="../../assets/Images/works/thumb/5.jpg" data-large="../../assets/Images/works/large/5.jpg" alt="work">
          <div class="overlay">
            <h4>Wedding Photography</h4>
          </div>
        </div>
      </div>
      <!-- Work Item End -->
      <!-- Work Item Start -->
      <div class="work-item">
        <div class="work-item-inner">
          <img src="../../assets/Images/works/thumb/6.jpg" data-large="../../assets/Images/works/large/6.jpg" alt="work">
          <div class="overlay">
            <h4>Portrait Photography</h4>
          </div>
        </div>
      </div>
      <!-- Work Item End -->
    </div>
  </div>
</section>
<!-- Work Section End -->
<!-- lightbox Starts -->
<div class="lightbox">
  <div class="img-box">
    <div class="lightbox-close">&times;</div>
    <img src="../../assets/Images/works/large/2.jpg" class="lightbox-img" alt="img">
    <div class="lightbox-caption">
      <div class="lightbox-category">

      </div>
      <div class="lightbox-counter">

      </div>
    </div>
    <div class="lightbox-controls">
      <div class="prev">
        <img src="../../assets/Images/icons/prev.svg" alt="prev">
      </div>
      <div class="next">
        <img src="../../assets/Images/icons/next.svg" alt="next">
      </div>
    </div>
  </div>
</div>
<!-- lightbox Ends -->
<!-- Contact Section Start -->
<section class="contact-section" id="contact">
  <div class="container">
    <div class="row">
      <div class="contact-img">
        <div class="img-box">
          <div class="section-title">
            <h1>Contact</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="contact-form">
        <form  autocomplete="off" ngNativeValidate class="form" #employeeEmail="ngForm" (ngSubmit)="onSubmit(employeeEmail)">
          <div class="row">
            <div class="left input-group" [class.has-error]="Fullname.invalid" >
              <label for="customerName" class="control-label">Name</label>
              <input type="text" placeholder="Your Name Here" class="input-control" id="customerName" name="customerName" [(ngModel)]="service.formData.customerName" #Fullname ="ngModel" required>
            </div>
            <div class="right input-group">
              <label for="customerEmail"> Email</label>
              <input type="email" placeholder="Email " class="input-control" id="customerEmail" name="customerEmail" [(ngModel)]="service.formData.customerEmail" >
            </div>
          </div>
          <div class="row">
            <div class="left input-group">
              <label for="customerPhone">Mobile</label>
              <input class="input-control" placeholder="Mobile" id="customerPhone" name="customerPhone" [(ngModel)]="service.formData.customerPhone" type="number"   required>
            </div>
          </div>
          <div class="row">
            <div class="input-group">
              <label for="customerMessage"> Message</label>
              <textarea class="input-control" placeholder="Your Message Here" id="customerMessage" name="customerMessage" [(ngModel)]="service.formData.customerMessage" required></textarea>
            </div>
          </div>
          <div class="form-btn">
            <button type="submit" class="btn btn-01" [disabled]="employeeEmail.invalid">Submit Request</button>
          </div>
        </form>
        {{employeeEmail.value | json}}
      </div>
    </div>
    <div class="row">
      <div class="contact-info">
        <div class="row">
          <!-- info item start -->
          <div class="info-item">
            <h5>Address</h5>
            <p>1234 Great North Road, Point Chevalier, Auckland 1025, New Zealand</p>
          </div>
          <!-- info item end -->
          <!-- info item start -->
          <div class="info-item">
            <h5>Phone</h5>
            <p>+6100000000</p>
          </div>
          <!-- info item end -->
          <!-- info item start -->
          <div class="info-item">
            <h5>Email</h5>
            <p>info@pointchevalierpodiatry.co.nz</p>
          </div>
          <!-- info item end -->
        </div>
      </div>
    </div>
    
  </div>
</section>
<!-- Contact Section End -->
<!-- Copyright text -->
<p class="copyright">&copy; All Rights Reserved @ Point Chevalier Podiatry</p>
